.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.icon-container {
    button {
        background-color: transparent;
        border: none;
        padding: 0;

        &:hover {
            background-color: color-mix(in srgb, azure, transparent 85%);
            cursor: pointer;
        }

        &.active, &:active {
            background-color: color-mix(in srgb, azure, transparent 55%);
        }
    }

    img {
        max-width: 100px;
    }

    figcaption {
        font-size: 13px;
        text-align: center;
    }

    
}
