#code-container {
    max-height: 800px;
    overflow-y: scroll;
    max-width: fit-content;
    padding: 4px 10px;
}

.line-of-code {
    font-size: 0.8em;
    font-family: monospace;
    
    &:hover {
        cursor: pointer;
        background-color: color-mix(in srgb, azure, transparent 55%);
    }
}

.debug-marker {
    color: red;
}