<div id="code-container">
    <div class='line-of-code' *ngFor="let line of codeDump; let i = index" 
        [ngClass]="{'current-line': i === currentLineNumber}" (click)="toggleDebug(line)"
    >
        <span class="debug-marker" *ngIf="line.debugging">D</span>
        <span class="debug-marker" *ngIf="!line.debugging">&nbsp;</span>|{{line.code}}
    </div>
</div>

<div id="btn-step">
    <button (click)="runLine()">Next</button>
</div>

<div id="registers">
    <div>eax: {{registers['%eax']}}</div>
    <div>ebx: {{registers['%ebx']}}</div>
    <div>ecx: {{registers['%ecx']}}</div>
    <div>edx: {{registers['%edx']}}</div>
    <div>esp: {{registers['%esp']}}</div>
</div>
